@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 365px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.text-warning{
	color: red !important;
}
.col70{
	margin-left: 15px;
}
#companyName{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
#companyTagline{
	color: black;
	font-weight: bold;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 7px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {

	font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
	font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: honeydew;
	font-weight: 500;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
   
    position: relative;
    font-size: 15px;
    font-weight: 600;
  
}
.navbar ul li a{
   margin: 10px
  
}
.carousel-caption .ctnead{
	margin-top: 20px;
}
.ctn{
	
    width: 200px;
    padding: 10px 20px;
	text-decoration: none;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffc107;
    background: transparent;
    color: #fff; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
	height: 100%;
}
.watch{
    background-color: #ffc107;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.ctn:hover .watch{
    width: 100%;
}
.ctn:hover{
    border: none;
	color: #fff;
	
}

li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #de0c9f;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
	color: wheat;
	
  }
  
  li a:hover::before,
  li a:focus::before {
    transform: scale(1);
	color: wheat;
	
  }
  li a:hover{
	color: #f1fbff;
  }
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 450px;
	}
	.carousel-caption h5 {
		font-size: 40px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 20px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 18px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
	.carousel-caption{
		bottom: 365px;

	}
}
@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
	.carousel-caption{
		bottom: 300px;

	}
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}